body {
  font-family: 'Montserrat', sans-serif;
}

/* Logo */
.logo {
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4d00b3;
  color: #fff;
  padding: 10px 20px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links li a{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.5s;
  border: 2px solid #ffffff; 
}

.nav-links li a:hover {
  background-color: #ffffff;
  color: #864bd3;
  font-weight: bold;
}

.nav-links li{
  transition: 0.3s;
}

.nav-links li:hover{
  transform: scale(1.1);
}

/* Footer */
.footer {
  background-color: #5700c9;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer p a{
  color: #f8e800;
  text-decoration: none;
}

/* Login Page */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f1f1f1;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.login-form label {
  font-weight:400;
  font-size: 16px;
}

.login-form input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form input::placeholder {
  color: #898a86;
}

.login-form .remember-me {
  display: flex;
  align-items: center;
}

.login-form .remember-me input[type="checkbox"] {
  margin-right: 5px;
}

.login-form .button-container {
  display: flex;
  justify-content: space-between;
}

.login-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #ba90f1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.login-form button:hover {
  background-color: #5e00da;
  text-transform: uppercase;
}

.login-form button[type="button"] {
  background-color: #6c757d;
}

.login-form button[type="button"]:hover {
  background-color: #5a6268;
}

.login-form p {
  text-align: center;
  margin-top: 10px;
}
.login-form a{
  text-decoration: none;
}
/* Login page Media Queries */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .login-form {
    width: 80%;
  }
}

/* Register Page */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f1f1f1;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.register-form label {
  font-weight:400;
  font-size: 16px;
}

.register-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-form input::placeholder {
  color: #898a86;
}

.register-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #ba90f1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.register-form button:hover {
  background-color: #5e00da;
  text-transform: uppercase;
}

.register-form button[type="button"] {
  background-color: #6c757d;
}

.register-form button[type="button"]:hover {
  background-color: #5a6268;
}

.register-form p {
  text-align: center;
  margin-top: 10px;
}
.register-form a{
  text-decoration: none;
}

/* Home Page */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.map-container {
  width: 1600px; 
  height: 600px; 
  margin: 20px auto; 
  border: 10px solid #5500c5; 
  border-radius: 80px; 
  overflow: hidden;
}

/* Popup component */
.popup-container {
  display:grid;
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.popup-container h4{
  font-size:larger;
}

.popup-container button{
  background-color: #7734cf;
  color: white;
  padding: 10px;
  border-radius: 50px;
  transition: transform 0.5s;
}

.popup-container button:hover{
  background-color: #480c96;
  transform: translateY(-4px);
}

/* Modal */
.location-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.duration-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input-field {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.textarea-field {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  padding: 10px;
  font-size: 16px;
  background-color: #bf81f8;
  color: white;
  border-radius: 20px;
  border-style: none;
  margin: 10px;
  width: 100px;
  transition: 0.3s;
}

.submit-button:hover {
  transform: scale(1.1);
  text-transform: uppercase;
  background-color: #6829b9;
}

/* Landing Page 1 */
.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #cfbaf8;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.side-by-side-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.side-by-side-container img {
  height: 450px;
  margin-right: 20px;
  animation: moveUpDown 6s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container a.button {
  padding: 10px 50px;
  margin-right: 50px;
  background-color: #7e44c9;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  border-style: none;
  transition: background-color 0.5s ease, transform 0.2s ease;
  text-decoration: none;
}

.button-container a.button:hover {
  background-color: #5e00da;
  transform: translateY(-3px);
}

.slogan-container {
  border-radius: 50px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.content-wrapper h1 {
  font-size: 44px;
  color: rgb(78, 72, 72);
}

.content-wrapper h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
